@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: gainsboro;
}

.maindiv{
  width: 80%;
  height: 80vh;
  margin: auto;
  margin-top: 40px;
  background-color: black;
  border: 5px solid white;
  border-radius: 3px;
}
